* {
    margin: 0;
    padding: 0;
}
/*
CODE FOR FOOTER AT BOTTOM OF PAGE
*/

html, body {
    height: 100%;
}
#holder{
    min-height: 100%;
    position:relative;
}
#body{
	background-size: cover;
    width: 100%;
    padding-bottom: 141px;    /* height of footer */
}

body {
	background-color: #636363;
}

body.home {
	background-image: url('images/background-home.jpg');
	background-repeat: repeat-y;
	background-size: cover;
	background-position: 0px 189px;
}

.wrapper, .container {
    max-width: 992px;
    margin: 0 auto;
    padding: 0px;
    position: relative;
}

.container {
	max-width: 99%;
}

#body .wrapper {
    padding-bottom: 20px;
}

nav ul.usernav {
    line-height: 1.5em;
}

.menu {
	width: 90%;
}

.menu ul li:hover a {
    color: #353535;
}

.menu ul li a:hover {
    color: #353535;
}

#nav-primary ul ul li a:hover, #nav-primary ul ul li a:active {
    color: #353535;
}

#nav-primary ul li:hover a:hover, #nav-primary ul li:hover a:active {
    color: #353535;
}

body {
    font-size: 1.0em;
}

a, a:link, a:hover, a:visited {
    color: #F79402;
    text-deocration: none;
}

h1, h2, h3, h4, h5, h6 { /* this is an html5styles override */
    letter-spacing: normal;
    margin: 0 0 1.0em 0;
    padding: 0;
    color: #666;
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

/* Header */

header {
    width: 100%;
    height: auto;
    background-color: #FFF;
    margin: 0 auto;
    position: relative;
}

/* Logo - Uses image replacement technique*/

#logo {
    position: relative;
    width: 400px;
    height: 38px;
	margin-left: 20px;
    padding: 15px 0 23px 0;   
}

/* Search Form - magnifying glass icon */



/**/.nav-search input#s {
    width:30px;
    background-color:transparent;
    border:1px solid #FFF;
    -moz-transition:all 0.4s ease 0s;
    -webkit-transition:all 0.4s ease 0s;
    -ms-transition:all 0.4s ease 0s;
    transition:all 0.4s ease 0s;
    background-image:url('http://www.northeastern.edu/images/search.png');
    background-repeat:no-repeat;
    background-position:center left
}

.nav-search input#s:hover {width:180px;background-color:#FFF;border:1px solid #ccc;padding-left:33px}


.nav-search input#s:focus, .nav-search input#s:active{
    width:180px;
    background-color:#FFF;
    padding-left:33px;
    border:1px solid #666;
    background-color:#FFF;
    box-shadow:0 0 4px #E4E4E4 inset;
}


label {
    display: none;
}
.assistive-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.nav-search {
    position:absolute;
    top: 20px;
    right: 10px;
    margin: 0;
}

#searchForm input#s:hover {
    width:180px;
    background-color:#FFF;
    border:1px solid #ccc;
    padding-left:33px
}

.nav-search input#s:focus, .nav-search input#s:active {
    width:180px;
    background-color:#FFF;
    padding-left:33px;
    border:1px solid #666;
    background-color:#FFF;
    box-shadow:0 0 4px #E4E4E4 inset;
}

input[type="text"], textarea {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #666666;
}

input[type="text"] {
    padding: 3px;
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

button, input {
    line-height: normal;
}

#searchsubmit {
    display: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , #FAFAFA 60%, #E6E6E6 100%) repeat scroll 0 0 transparent;
    border-color: #CCCCCC #CCCCCC #BBBBBB;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 2px 1px #FFFFFF inset;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 1.4rem;
    padding: 1.12em 1.5em 0.88em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

button, input {
    line-height: normal;
}

#tagline {
	background-color: #666;
	width: 100%;
}

#tagline img {
	margin: 10px 0 0 20px;
}

#nav-primary{
    width: 100%;
    float: none; /* override html5styles */
    background-color: #353535;
}

nav {
    background-color: #353535;
    float: none;
	width: auto;
	margin-left: 10px;
}

#nav-primary ul { /*override html5styles */
    margin: 0 0 0 -8px;
}

#nav-primary ul li a {
	background: transparent url('images/nav-stripe.png') repeat-y top right;
	color: #FFF;
	font-family: "HelveticaNeueW01-57Cn", sans-serif;
	font-size: 120%;
	text-transform: none;
	margin-right: 0;
	padding-right: 11px;
}

#nav-primary ul a { /* this can go in html5styles or fancydropdown */
    font-size: 14px;
}

#nav-primary ul ul { /* this can go in html5styles */
    margin: 0;
}


/* HOME PAGE 
CENTER ABOUT BOX HORIZONTALLY AND VERTICALLY*/

#box {
	min-height: 365px;
	margin: 0 auto;
	padding: 8% 0 8% 0;
	width: 63%;
	max-width: 640px;
}

#about {
	min-height: 365px;
	margin: 0 auto;
	padding: 20px;
	background-color: #353535;
	opacity:0.9;
	filter:alpha(opacity=90); /* For IE8 and earlier */
}

#about p {
	color: #FFF;
	font-size: 110%;
	margin: 0 0 1.2em 0;
	padding: 0;
}

#about h2 {
	font-family: "HelveticaNeueW01-57Cn", sans-serif;
	font-size: 140%;
	color: #FFF;
	margin-bottom: 0.5em;
	text-transform: none;
}

#about ul {
	margin-left: 20px;
}

#about ul li {
	margin-bottom: 0.3em;
}

#about ul li a:link, #about ul li a:visited {
	color: #f79402;
	text-decoration: none;
}

#about ul li a:hover, #about ul li a:active {
	color: #f79402;
	text-decoration: underline;
}

/*******************************
* INTERIOR PAGES
*******************************/
#player {
	background-color: transparent;
	min-width: 962px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

#large-images {
	background-color: #353535;
	position: relative;
	min-width: 784px;
	width: 100%;
	line-height: 0.75em;
	min-height: 647px;
	height: 100%;
}

#large-images img {
	width: 100%;
	/*min-width: 816px;*/
	margin: 0;
	padding; 0;
}

img.bg {
	display: none;
	height: auto;
	position: relative;
	z-index: 3;
}

img.show {
	display: inline;
	z-index: 4;
	margin-left: 0;
}

#buttons {
	float: left;
	line-height: 0.75em;
	width: 222px;
	position:absolute;
	top:190px;
	right:0px;
	overflow:hidden;
	z-index: 20;
}

#buttons .scroll-pane {
	overflow: auto;
	max-height: 648px;
}

#buttons a {
	position: relative;
	display: block;
	cursor: pointer;
}

#buttons img {
	width: 100%;
	height: auto;
	z-index: 5;
}

#buttons h4 {
	font-size: 14px;
	background-color: rgba(58, 56, 57, 0.47);
	margin: 0;
	z-index: 6;
	position: absolute;
	bottom: 0;
	left: 0;
	line-height: 1.0em;
	width: 100%;
}

#buttons h4 div {
	font-family: "HelveticaNeueW01-57Cn", sans-serif;
	padding: 6px 7px;
	color: #FFF;
	display: block;
}

#buttons h4.current {
	padding-top: 122px;
}

#buttons h4 .professor-title {
	display: none;
}

#buttons .jspVerticalBar {
	width: 4px !important;
}

.mobile-expandable {
	display: none;
}

#text {
	position: relative;
	max-height: 390px;
}

/* text styles */
/*div.category1, div.category2, div.category3, div.category4, div.category5, div.category6 {
	background-color: rgba(58, 56, 57, 0.87);
	display: none;
	width: 100%;
	max-height: 400px;
	overflow: hidden;
	padding: 10px 0 0 0;
	z-index: 4;    
}*/
div.category1, div.category2, div.category3, div.category4, div.category5, div.category6 {
	background-color: rgba(58, 56, 57, 0.87);
	position: absolute;
	display: none;
	bottom: 0;
	width: 100%;
	height: 52px;
	max-height: 590px;
	overflow: hidden;
	padding: 10px 0 0 0;
	z-index: 4;    
}

	div.show {
		display: inline;
		z-index: 6;
	}
	div.category1 h3, div.category2 h3, div.category3 h3, div.category4 h3, div.category5 h3, div.category6 h3 {
		font-family: "HelveticaNeueW01-57Cn", sans-serif;
		margin: 0 0 1.0em 0;
		padding-left: 20px;
		padding-right: 20px;
		line-height: 1.0em;
		width: 70%;
		height: auto;
		min-height: 25px;
		font-size: 24px;
		font-weight: normal;
		color: #FFF;
		text-transform: none;
	}
	div.category1 h3.video, div.category2 h3.video, div.category3 h3.video, div.category4 h3.video, div.category5 h3.video, div.category6 h3.video {
		background: transparent url('images/video-icon.png') no-repeat right top;	
		padding: 0 25px 0 20px;
	}
	div.category1 h3:hover, div.category2 h3:hover, div.category3 h3:hover, div.category4 h3:hover, div.category5 h3:hover, div.category6 h3:hover {
		 cursor: pointer;
	 }
	div.research-area p, div.category1 p, div.category2 p, div.category3 p, div.research-area p, div.category4 p, div.category5 p, div.category6 p {
		/*display: none;*/
		font-size: 16px;
		font-family: 'HelveticaNeueW01-55Roma', Arial, Helvetica, sans-serif;
		height: auto;
		width: 450px;
		margin: 0 0 1.0em 0;
		padding: 0 20px;
		color: #FFF;
	}
	.professor-title {
		font-size: 16px;
		font-family: 'HelveticaNeueW01-55Roma', Arial, Helvetica, sans-serif;
		height: auto;
		width: 450px;
		margin: 0 0 1.0em 0;
		padding: 0 20px;
		color: #FFF;
	}
	div.category1 p:last-child, div.category2 p:last-child, div.category3 p:last-child, div.category4 p:last-child, div.category5 p:last-child, div.category6 p:last-child {
		padding-bottom: 30px;
		
	}
	div.research-area img, div.category1 img, div.category2 img, div.category3 img, div.research-area img, div.category4 img, div.category5 img, div.category6 img {
		/*display: none;*/
		height: auto;
		width: auto;
		margin: 0 0 1.0em 0;
		padding-left: 10px;
		padding-right: 10px;
	}
	.story-text .scroll-pane {
		overflow: auto;
		max-height: 395px !important;
		display: none;
		max-width: 650px !important;
	}
	.jspContainer { max-width: 650px !important; }
	.jspPane { max-width: 650px !important ;}

/*********************************
* LEFT COLUMN                    *
*********************************/

#leftcolumn {
    float: left;
    width: 595px;
    background-image: none;
}

#leftcolumn h2 {
    background-color: #FFF;
    color: #C00;
    text-transform: uppercase;
    height: auto;
    font-size: 24px; /* override html5styles */
    line-height: 1.0em; /* override html5styles */
    margin: 0 0 1.0em 0; /* override html5styles */
    padding: 0; /* override html5styles */
}

#leftcolumn h3 {
    font-size: 18px;
    color: #353535;
    padding: 0;
    text-transform: uppercase;
}

#leftcolumn h4 {
    font-size: 16px;
    color: #353535;
    padding: 0;
    text-transform: none;
}

#leftcolumn h5 {
    font-size: 14px;
    color: #353535;
    padding: 0;
    text-transform: none;
}

#leftcolumn h6 {
    font-size: 12px;
    color: #353535;
    padding: 0;
    text-transform: none;
}

#leftcolumn p { /* override html5styles */
    padding: 0;
    margin: 0 0 1.2em 0;
}

#leftcolumn ul {
    color: #333;
    margin: -1.0em 0 1em 1.2em;
    padding: 0;
}

#leftcolumn ul li {
    font-size: 13px;
    margin: 0.5em 0;
}

#leftcolumn iframe {
    width: 575px;
    height: 335px;
    padding: 0 10px;
}

#bottom-links {
	background-color: #3D3D3D;
	width: 100%;
	margin-bottom: 20px;
	padding: 15px 0;
}

#bottom-links ul {
	margin: 0 0 0 193px;
}

#bottom-links li {
	display: inline;
	margin-right: 10px;
	float: left;
	font-size: 12px;
}

#bottom-links li:after {
	content: "\20\00b7";
}

#bottom-links li:last-child {
	margin-right: 0
}

#bottom-links li:last-child:after {
    content: "";
}

#bottom-links li a {
	padding-right: 7px;
}

#bottom-links li a:last {
	padding-right: 0;
}

#bottom-links li a:link, #bottom-links li a:visited, #bottom-links li a:hover, #bottom-links li a:active {
	color: #ACACAC;
	text-decoration: none;
}

#bottom-links li a:hover, #bottom-links li a:active {
	text-decoration: underline;
}

/************************
* FOOTER                *
************************/
footer {
    clear:both;
    width: 100%;
    height: 121px;
    color: #FFF;
    letter-spacing: 0.03em;
    padding: 0 0 20px 0;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #636363;
}

footer #bottom-links .wrapper {
	height: auto;
}

footer .wrapper {
    height: 30px;
    margin: 0 auto;
	padding: 0 20px;
	min-width: 912px;
	max-width: 992px;
	width: auto;
}

footer a.logo {
    background: url("http://www.northeastern.edu/neuhome/images/logo-footer.png") no-repeat scroll left top transparent;
    color: #FFFFFF;
    float: left;
    font-family: Georgia,Times,Arial,serif;
    font-size: 18px;
    height: 17px;
    margin-right: 20px;
    padding: 0;
    text-decoration: none;
    width: 173px;
}

.info {
    display: inline;
    float: left;
    font-size: 12px;
    list-style-type: none;
    margin: 0 0 10px 0;
    color: #CCC;
}

footer .info a:link, footer .contact {
    font-family: Arial,Verdana,Sans-Serif !important;
}

.info li {
    float: left;
    margin-right: 4px;
}

.info li:after {
    content: "\20\00b7";
}

.info li:last-child:after {
    content: "";
    margin-right: 0;
    padding-right: 0;
}

footer .info a:link, footer .info a:visited {
    color: #FFF;
    text-decoration: none;
}
    
footer .info a:hover, footer .info a:active {
    color: #CCC;
    text-decoration: underline;
}

.social-media {
    display: inline;
    float: right;
    list-style-type: none;
    font-size: 11px;
    margin: -2px 0 0 0;
}

.social-media li {
    float: left;
    margin-right: 10px;
}

.social-media li:last-child {
    margin-right: 0;
    padding-right: 0;
}

.social-media img {
    margin: 0;
    float: left;
}

.social-media a img {
    border: 0;
    padding: 0;
}
footer .contact {
    clear: both;
    font-size: 100%;
    line-height: 1.4em;
    height: 24px;
    margin: 0 0 0 193px;
    padding: 0;
    color: #CCC;
}    
footer a:link, footer a:visited {
    color: #FFF;
    text-decoration: none;
}

footer a:hover {
    color: #FFF;
    text-decoration: underline;
}
    
footer p {
    margin-bottom: 10px;
    line-height: 100%;
    color: #FFF;
}

/****************************************************************************************************************************
* LAYOUT #2 LAYOUT #2 LAYOUT #2 LAYOUT #2 LAYOUT #2 LAYOUT #2 LAYOUT #2 LAYOUT #2 LAYOUT #2 LAYOUT #2 LAYOUT #2 *
****************************************************************************************************************************/ 

/*      Tablet Layout: 768px.
        Gutters: 24px.
        Outer margins: 28px.
        Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
body {
	/*background-image: none;*/
	background-position: 0px 189px;
}

#player {
	width: 100%;
	/*float: left;*/
	min-width: 768px;
	min-height: 447px;
	max-width: 991px;
	/*max-height: 576px;*/
	margin-left: auto;
	margin-right: auto;
}

#large-images {
	width: 100%;
	min-width: 615px;
	max-width: 838px;
	z-index:0;
	/*padding-right: 2.3px;*/
}
div.category1 h3, div.category2 h3, div.category3 h3, div.category4 h3, div.category5 h3, div.category6 h3 {
	width: 450px;
}
.story-text .scroll-pane {
    max-width: 500px !important;
}
div.category1 img, div.category2 img, div.category3 img, div.category4 img, div.category5 img, div.category6 img {
	width: 80%;
}
#buttons {
	float: left;
	line-height: 0.75em;
	/*background-color: #CCC;*/
	width: 222px;
	position: absolute;
}
nav ul.usernav {
    text-align: left;
}

#nav-primary ul li a {
	font-size: 14px;
}
    
#leftcolumn {
    width: 480px;
}
    
footer {
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    vertical-align: middle;
    width: 100%;
	z-index:50;
}

footer .wrapper {
	padding: 0 20px;
	min-width: 728px;
	max-width: 991px;
	width: auto;
}

#bottom-links ul {
    margin: 0 100px 0 193px;
}

footer a.logo {
    font-size: 14px;
    margin-right: 20px;
    padding: 0;
    text-decoration: none;
}

.info {
    font-size: 10px;
    padding-top: 5px;
}

.contact {
    font-size: 10px;
}

}

/*************************************************************************************************************************
* LAYOUT #4 LAYOUT #4 LAYOUT #4 LAYOUT #4 LAYOUT #4 LAYOUT #4 LAYOUT #4 LAYOUT #4 *LAYOUT #4 LAYOUT #4 LAYOUT #4 LAYOUT #4 *
*************************************************************************************************************************/ 


/*      Mobile Layout: 320px.
        Gutters: 24px.
        Outer margins: 34px.
        Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {

body {
	background-position: 0px 122px;
}
#body {
	height: auto !important;
    padding-bottom: 290px;
}

.wrapper {
    width: 300px;
    padding: 0 10px;
}

#logo, .logo {
    height: 23px;
    width: 240px;
}

.nav-search {
    display: none;
}

#tagline img {
	width: 300px;
}

#nav-primary {
    position: relative;
}

#nav-primary ul {
    width: 300px;
}

#nav-primary ul li a {
	background-image:none;
	font-size: 14px;
}

#nav-primary ul ul {
    padding-right: 0;
}

nav {
    width: 300px;
    margin: 0 auto;
}

nav ul.usernav a, nav ul.usernav a:visited, nav ul.usernav a:link {
    margin: 3px 0;
}

.menu-button {
    z-index: 1;
    width: 280px;
}

div.menu-button img {
    float: right;
    margin: -106px 0px 0 0;
}

#box {
	width: 91%;
	min-height: 300px;
	max-width: 460px;
	font-size: 11px;
}

#about {
	min-height: 300px;
}

#player {
	width: 100%;
	max-width: 767px;
	min-width: 300px;
	max-height: 5000px;
	min-height: auto;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	height: auto !important;
}

#large-images, #text {
	display: none;
}

#buttons {
	float: none;
	position: relative;
	top: 0;
	width: 100%;
}

#buttons a {
	cursor: pointer;
}

#buttons .scroll-pane { /* this is needed to override .scroll-pane height setting in javascript */
	height: auto !important;
	max-height: 20000px !important;
	overflow: auto;
}

#buttons h4 div.headline {
	font-size: 16px;
	display: block;
	width: auto;
	padding: 6px 3%;
}

.professor-title {
	font-size: 13px;
	line-height: 120%;
	width: auto;
	padding: 6px 3% 0 3%;
}

.mobile-expandable {
	background-color: rgba(58, 56, 57, 0.95);
	display: none;
	width: 100%;
	margin: 0;
	padding: 10px 0;
}

.mobile-expandable h5, .mobile-expandable p {
	margin: 0 0 1.0em 0;
	padding: 0 3%;
	color: #FFF;
}

#left-navigation {
    width: 92%;
    padding: 5px 0;
}

#left-navigation ul li {
    border-bottom: none;
    display: inline;
    float: left;
    padding: 5px;
}

#left-navigation ul li:after {
    content: "\20\2022";
    color: #666;
}

#left-navigation ul li:last-child:after {
    content: "";
}

#left-navigation ul li a {
    padding: 10px 5px;
}

#leftcolumn {
    width: 87%;
    margin-top: 0;
}

#leftcolumn img {
    max-width: 100%;
    height: auto;
}

#bottom-links ul {
	width: 300px;
	margin: 0;
	text-align:center;
}

#bottom-links li {
	float: none;
}

#bottom-links li a {
	font-size: 10px;
}

footer {
	height: 270px;
}

.social-media {
    float: right;
    margin-top: -17px;
    width: 30%;
}

.social-media li {
    margin-left: 0;
}

.info {
    float: left;
    font-size: 9px;
    margin: 3px 0;
    width: 50%;
}

.info li:after {
    content: "";
}

.info li {
    float: none;
    margin-right: 0;
    padding: 5px 0;
}

footer {
    height: 270px;
    margin-top: 0;
}

footer .wrapper {
    width: 300px;
	min-width: 300px;
	max-width: 300px;
	padding: 0 10px;
}

footer .contact {
    margin-left: 0;
}

    

}

/*************************************************************************************************************************
* LAYOUT #3 LAYOUT #3 LAYOUT #3 LAYOUT #3 LAYOUT #3 LAYOUT #3 LAYOUT #3 LAYOUT #3 LAYOUT #3 LAYOUT #3 LAYOUT #3 *
*************************************************************************************************************************/ 

/*      Wide Mobile Layout: 480px.
        Gutters: 24px.
        Outer margins: 22px.
        Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    
#body {
    padding-bottom: 181px;
}

.wrapper {
    width: 460px;
    padding: 0 10px;
}

header {
    padding: 0;
}

nav {
    width: 460px;
    margin: 0 auto;
}

#nav-primary ul {
    width: 460px;
}

.menu-button {
    width: 440px;
    
}

h2, h3 {
    font-size: 15px;
}

#bottom-links ul {
	width: 460px;
}

#bottom-links li a {
	font-size: 11px;
}

footer {
    width: 100%;
    height: 161px;
    margin: 0 auto;
    font-size: 10px;
    text-align: left;
    vertical-align: middle;
}

footer .wrapper {
	min-width: 460px;
	max-width: 747px;
    width: 460px;
    padding: 5px 10px;
}

footer a.logo {
    font-size: 14px;
    margin-right: 20px;
    padding: 0;
    text-decoration: none;
}

.info {
    clear: left;
    width: 82%;
    font-size: 9px;
    margin-top: 3px;
}

.info li {
    float: left;
    margin-right: 4px;
}

.info li:after {
    content: "\20\00b7";
}

.info li:last-child:after {
    content: "";
    margin-right: 0;
    padding-right: 0;
}


.social-media {
    width: 17%;
    margin-top: -17px;
}

.contact {
    margin-left: 0;
}
    
}