body {
    background-repeat: repeat;
}

#bottom-links ul {
	width: 525px;
	margin: 0 auto;
}

div.category1, div.category2, div.category3, div.category4, div.category5, div.category6, #buttons h4 {
	background: transparent url('../images/headline-bg.png') repeat 0 0;
}

#buttons a:hover, #buttons a:active {
	text-decoration: none;
}